{% extends "base.html" %} 
{% load static %}
{% block title %} 
My Blog 
{% endblock %} 

{% block css_file %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}" />
<link rel="stylesheet" href="{% static 'blog/index.css' %}" />
{% endblock %}

{% block content %}
<header id="main-navigation">
  <h1><a href="">Sumanth's Blog</a></h1>
  <nav><a href="">All Posts</a></nav>
</header>
<section id="welcome">
  <header>
    <img src="{% static "blog/images/max.png" %}" alt="Sumanth - The Author" />
    <h2>Sumanth's Blog</h2>
  </header>
  <p>
    Hi, i am Sumanth and I love to write about my experiences and thoughts on
    life, programming, and anything else that I find interesting.
  </p>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>

  <ul>
    {% for post in posts %}
        {% include "blog/includes/post.html" %}
   {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>What I Do</h2>
  <p>
    I love programming, I love to help others and I enjoy exploring new
    Technologies in general!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui totam quidem
    ullam delectus accusamus. Ducimus sed voluptas iusto cupiditate! Error
    quibusdam corrupti maiores pariatur voluptates, iusto dolore rerum iste
    officiis.
  </p>
</section>

<!-- <h1>Welcome to my blog</h1> -->
{% endblock %}
